<div class="foot bg-dark" width="100%" height="450px" >
     
    <div class="mt-1">
        <h5 class="mt-header text-white text-center mt-2">Author</h5>
     
        <h6 class="mt-header text-info text-center">Himanshu Sharma</h5>
        <h6 class="mt-header text-info text-center"><a href="https://github.com/incredible-India" class="mt-header text-info text-center" style="text-decoration: none"><i class="fa-brands fa-github"></i> Github</a></h5>
        <h6 class="mt-header text-info text-center"><a href="mailto:himanshu399231@gmail.com" class="mt-header text-info text-center" style="text-decoration: none"><i class="fa-solid fa-envelope"></i> Email</a></h5>
          
    </div>
  
</div>